{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block div %}
<div class="mt-[93px] flex items-center justify-center">
    <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center rounded-l-[50px] cursor-pointer ">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 1: Tell us about your symptoms
      </p>
    </div>
    <div
      class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center cursor-pointer border-[1px] border-white bg-gradient-to-r from-[#BAC] to-[#BAC] via-[#E1709B]">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 2: Possible Disease</p>
    </div>
    <div
      class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center cursor-pointer rounded-r-[50px] border-l border-l-[#FFF]">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 3: Suggestions</p>
    </div>
</div>

<div class="flex items-center justify-center mt-[24px]">
  <div class="w-[1094px] h-[380px] rounded-[28px] border-[#000] bg-[#222327]">
    <p class="mt-[20px] ml-[30px] text-[#BAC] font-['Inter' text-[24px] font-semibold leading-normal]">Possible Diseases
    </p>

    {% for disease in possible_disease %}
    <div class="mt-[31px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
      <form action="/suggestions" method="POST">   
        <button type="submit" class="w-[146px] h-[54px]  rounded-r-[28px] border-[1px] border-[#FFF] bg-[#BAC]">
          <p class="text-black m-auto text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">{{ disease[0] }}</p>
        </button>
        
        <input type="hidden" name="clicked_button_name" value="{{disease}}">   
      </form>
    </div>
    {% endfor %}


  </div>

</div>

<div class="flex items-center justify-center mt-[30px]">
  <Button class="w-[146px] h-[54px] rounded-[28px] border-[1px] border-[#FFF] bg-[#17191C]" id="backBtn">
    <p class="text-[#FFF] font-['Inter'] text-[20px] font-medium leading-normal">Back</p>
  </Button>
  <Button class="w-[146px] h-[54px] ml-[54px] rounded-[28px] border-[1px] border-[#FFF] bg-[#BAC]" id="nextBtn">
    <p class="font-['Inter'] text-[20px] font-medium leading-normal">Next</p>
  </Button>
</div>
{% endblock %}