{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block div %}
<div class="mt-[93px] flex items-center justify-center">
    <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center rounded-l-[50px] cursor-pointer">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 1: Tell us about your symptoms
      </p>
    </div>
    <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center cursor-pointer">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 2: Possible Disease</p>
    </div>
    <div
      class="w-[365.33px] h-[58px]  flex items-center justify-center cursor-pointer rounded-r-[50px] border-l border-l-[#FFF] border-[1px] border-white bg-gradient-to-r from-[#BAC] to-[#BAC] via-[#E1709B]">
      <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 3: Suggestions</p>
    </div>
</div>

<div class="flex items-center justify-center mt-[24px]">
  <div class="w-[1094px] h-[380px] rounded-[28px] bg-[#222327]">
    <p class="mt-[20px] ml-[30px] text-[#BAC] font-['Inter' text-[24px] font-semibold leading-normal]">Suggestions</p>

    <div class="inline-flex items-center justify-center">
      <div
        class="w-[317px] h-[249px] mt-[31px] ml-[37px] p-[24px] flex flex-col items-center justify-center text-ellipsis whitespace-nowrap rounded-[28px] border-[1px] border-[#FFF] bg-[#141516]">
        <p
          class="w-[261px] h-[100px] overflow-hidden text-[#C4C7C5] font-['Inter'] text-[16px] font-normal leading-normal">
          These papers cover a wide range of machine learning algorithms. These papers cover a wide range of machine
          learning algorithms </p>
        <ul class="text-[#C4C7C5] w-[259px] h-[155px] mt-[14px] ml-[26px]" style="list-style-type: disc;">
          <li>Decision trees</li>
          <li>Ensemble Learning methods</li>
          <li>Genetic programming</li>
          <li>Rule-based systems Naive Bayes.</li>
        </ul>
      </div>
      <div
        class="w-[317px] h-[249px] mt-[31px] ml-[33px] p-[24px] flex flex-col items-center justify-center text-ellipsis whitespace-nowrap rounded-[28px] border-[1px] border-[#FFF] bg-[#141516]">
        <p
          class="w-[261px] h-[205px] overflow-hidden text-[#C4C7C5] font-['Inter'] text-[16px] font-normal leading-normal">
          These papers cover a wide range of machine learning algorithms and techniques that have been used for Iris
          flower classification. Some of the most popular algorithms include neural networks, support vector machines,
          decision trees, ensemble learning methods, genetic programming, fuzzy logic, rule-based systems, and naive
          Bayes.</p>
      </div>
      <div
        class="w-[317px] h-[249px] mt-[31px] ml-[33px] p-[24px] flex flex-col items-center justify-center text-ellipsis whitespace-nowrap rounded-[28px] border-[1px] border-[#FFF] bg-[#141516]">
        <p
          class="w-[261px] h-[205px] overflow-hidden text-[#C4C7C5] font-['Inter'] text-[16px] font-normal leading-normal">
          These papers cover a wide range of machine learning algorithms and techniques that have been used for Iris
          flower classification. Some of the most popular algorithms include neural networks, support vector machines,
          decision trees, ensemble learning methods, genetic programming, fuzzy logic, rule-based systems, and naive
          Bayes.</p>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center mt-[30px]">
  <Button class="w-[146px] h-[54px] rounded-[28px] border-[1px] border-[#FFF] bg-[#17191C]" id="backBtn">
    <p class="text-[#FFF] font-['Inter'] text-[20px] font-medium leading-normal">Back</p>
  </Button>
</div>
{% endblock %}