<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="UTF-8" />
  <title>possible disease</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <style>
    .scrollbar-hide::-webkit-scrollbar {
      width: 0.25em;
    }
  
    .scrollbar-hide::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  
    .scrollbar-hide {
      scrollbar-width: thin;
    }
  </style>

</head>
<body class="bg-[#000] scrollbar-hide">
  <div class="flex items-center mt-[30px] ml-[28px]">
      <img src="{{ url_for('static', filename='assets/appLogo.png') }}" alt="+" class="rotate-[19.184deg]">
      <p class="font-['Inter'] text-[24px] font-normal leading-normal text-[#FFF] bg-clip-text" >MedGuide</p>
      <p class="ml-[1141px] mt-[6px] text-[#BAC] font-['Inter'] text-[20px] font-medium leading-normal">About Us</p>
      <p class="ml-[30px] mt-[6px] text-[#BAC] font-['Inter'] text-[20px] font-medium leading-normal">FAQs</p>
  </div>

  <div class="mt-[93px] flex items-center justify-center">
    <a href="/tellsymptoms">
      <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center rounded-l-[50px] cursor-pointer ">
          <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 1: Tell us about your symptoms</p>
      </div>
    </a>
    <a href="/possible-disease">
      <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center cursor-pointer border-[1px] border-white bg-gradient-to-r from-[#BAC] to-[#BAC] via-[#E1709B]" >
          <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 2: Possible Disease</p>
      </div>  
    </a>
    <a href="/suggestions">
      <div class="w-[365.33px] h-[58px] bg-[#17191C] flex items-center justify-center cursor-pointer rounded-r-[50px] border-l border-l-[#FFF]">
          <p class="text-[#FFF] font-['Inter'] text-[18px] font-normal leading-normal">Step 3: Suggestions</p>
      </div>  
    </a>
  </div>

  <div class="flex items-center justify-center mt-[24px]">
    <div class="w-[1094px] h-[380px] rounded-[28px] border-[#000] bg-[#222327]">
      <p class="mt-[20px] ml-[30px] text-[#BAC] font-['Inter' text-[24px] font-semibold leading-normal]">Possible Diseases</p>

      <div class="mt-[31px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
        <p class="text-[#C4C7C5] text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">Influenza (Flu)</p>
      </div>
      <div class="mt-[5px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
        <p class="text-[#C4C7C5] text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">Viral Meningoencephalitis</p>
      </div>
      <div class="mt-[5px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
        <p class="text-[#C4C7C5] text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">Dengue Fever</p>
      </div>
      <div class="mt-[5px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
        <p class="text-[#C4C7C5] text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">Salmonella Infections</p>
      </div>
      <div class="mt-[5px] rounded-r-[46px] w-fit ml-[33px] border-[#BDC1C6] border-[1px] bg-[#141516]">
        <p class="text-[#C4C7C5] text-center p-[5px] font-['Inter'] text-[18px] font-normal leading-normal">CNS TB & TB Meningitis</p>
      </div>

    </div>

  </div>

  <div class="flex items-center justify-center mt-[30px]">
    <Button class="w-[146px] h-[54px] rounded-[28px] border-[1px] border-[#FFF] bg-[#17191C]" id="backBtn">
      <p class="text-[#FFF] font-['Inter'] text-[20px] font-medium leading-normal">Back</p>
    </Button>
    <Button class="w-[146px] h-[54px] ml-[54px] rounded-[28px] border-[1px] border-[#FFF] bg-[#BAC]" id="nextBtn">
      <p class="font-['Inter'] text-[20px] font-medium leading-normal">Next</p>
    </Button>
  </div>

  <div class="flex items-center justify-center mt-[29px]">
    <img src="{{ url_for('static', filename='assets/warningIcon.png') }}" alt="1" class="w-[21px] h-[17px]">
    <p class="text-[#FFF] font-['Inter'] text-[14px] font-normal leading-normal"> <span class="text-[#FB0202] font-['Inter'] text-[16px] font-medium leading-normal">Warning: </span>          MedGuide Symptom Checker (‘MedGuide’) and any content accessed through MedGuide is for informational purposes only, and...</p>
  </div>

  <div class="mt-[29px] py-[10px] border-t-[1px] border-t-[#FFF] flex items-center">
    <p class="ml-[42px] text-[#FFF] font-['Inter'] text-[16px] font-normal leading-normal">Privacy Policy</p>
    <p class="ml-[214px] text-[#FFF] font-['Inter'] text-[16px] font-normal leading-normal">Terms & Conditions</p>
    <p class="ml-[214px] text-[#FFF] font-['Inter'] text-[16px] font-normal leading-normal">@MedGuide 2023</p>
    <img class="ml-[34rem]" src="{{ url_for('static', filename='assets/githubLogo.png') }}" alt="github" >
    <img class="ml-[30px]" src="{{ url_for('static', filename='assets/twitterLogo.png') }}" alt="twitter" >
  </div>

</body>

<script>
  document.getElementById('nextBtn').addEventListener('click', function() {
      window.location.href = 'http://127.0.0.1:5000/suggestions'; // Replace with the desired URL
  });
  document.getElementById('backBtn').addEventListener('click', function() {
      window.location.href = 'http://127.0.0.1:5000/tellsymptoms'; // Replace with the desired URL
  });
</script>
</html>